@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700;800&display=swap");

/**Basic Setup**/

:root {
  --primary-color: #0891b2;
  --text-color-light: #ecfeff;
  --heading-light: #cffafe;
  --gradient-light: #06b6d4;
  --gradient-dark: var(--primary-color);
  --button-color: #0891b2;
  --message-color: #164e63;
}

body {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background-color: #06b6d4;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
}

/**Header**/

.hero {
  background-image: linear-gradient(
    var(--gradient-light),
    var(--gradient-dark)
  );
  padding: 2rem;
  color: var(--text-color-light);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media only screen and (max-width: 667px){
  h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 498px){
  h1 {
    font-size: 26px;
  }
}

/**Cash Calculator**/

.cash-calc-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    var(--gradient-dark),
    var(--gradient-light)
  );
  margin: 4rem auto;
  width: 60%;
  border-radius: 2rem;
  text-align: center;
  padding: 1.5rem;
  color: var(--text-color-light);
}

@media only screen and (max-width: 900px){
  .cash-calc-container {
    width: 70%;
  }
}

.cash-calc-container h2 {
  color: var(--heading-light);
  font-weight: bolder;
}

/*Input Area*/

.input-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-heading {
  font-size: 21px;
  font-weight: bolder;
}

.input-field {
  margin: 0.5rem auto;
  width: 30%;
  padding: 0.75rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  outline: #fff;
}

@media only screen and (max-width: 400px){
  .input-field {
    width: 40%;
  }
}

.button,
.next-button {
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0.8rem 1.7rem;
  margin: 1rem auto;
  background-color: var(--button-color);
  color: var(--text-color-light);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: bold;
}

.message {
  color: var(--message-color);
  font-weight: bolder;
}

/*Currency Table*/

caption {
  font-size: 20px;
  font-weight: bold;
}

.currency-table {
  border-collapse: collapse;
  text-align: justify;
  margin: 1rem auto;
  width: 50%;
}

.currency-table th,
td {
  border: 3px solid #0e7490;
  width: 10%;
  padding: 0.5rem 1rem;
}


/**Footer**/

.footer {
  background-image: linear-gradient(
    var(--gradient-dark),
    var(--gradient-light)
  );
  padding: 1.5rem;
  color: var(--text-color-light);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer p {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 900px){
  .footer p {
    width: 80%;
  }
}

@media only screen and (max-width: 450px){
  .footer p {
    width: 90%;
  }
}